$highlight: #266EFD;
$secondary: #141414;

@mixin spacing {
    margin: 2% 5%;
}

body, html{
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

a{
    text-decoration: none;
    color: $highlight;
}

button{
    background-color: $highlight;
    color: white;
    border: none;
    padding: .75em 1em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 2px adjust-color($highlight, $lightness: -10%, $alpha: -0.6);
    &:hover{
        background-color: lighten($highlight, 5%);
        box-shadow: 0 8px 16px 4px adjust-color($highlight, $lightness: -15%, $alpha: -0.4);;
        cursor: pointer;
    }
}

header{
    display: grid;
    grid-template-areas: "hero";
    height: 60vh;
    max-height: 600px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.85);
    @media (min-width: 600px){
        background-color: rgba(0,0,0,0);
    }

    >*{
        grid-area: hero;
    }

    .hero{
        z-index: 1;
        min-width: 30ch;
        color: white;
        line-height: 0.75;
        @include spacing();
    }

    img{
        object-fit: cover;
        height: min(60vh, 600px);
        width: 100%;
        z-index: -1;
    }

    .hero-text{
        padding-top: 50px;
    }

    h1{
        font-size: 2.75rem;
        font-weight: 400;
    }

    nav {
        grid-area: navigation-links;
        ul{
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 15px;
            justify-content: center;
            justify-items: center;
            align-items: center;
            text-align: center;

            @media (min-width: 600px){
                grid-template-columns: 1fr repeat(5, fit-content(100px));
                grid-gap: 20px;
                justify-items: end;
            }
            .fullwidth{
                grid-column: 1/7;

                @media (min-width: 600px){
                    grid-column: 1/2;
                    justify-self: start;
                }
            }
            li{
                display: inline-block;
                list-style-type: none;
                &:first-child {
                    margin-right: auto;
                    font-weight: bold;
                    font-size: 2.5rem;
                    padding-left: 0px;
                    font-family: 'Source Sans Pro', sans-serif;
                }
                a{
                    color: white;
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }
}

.newJobOffers{
    @include spacing();
    max-width: 100vw;

    .newJobsTop{
        display: flex;
        justify-content: space-between;
    }

    .newJobItems{
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 600px){
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
        }
        
    }

    .newJobItem{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr;
        position: relative;
        max-height: 250px;
    }

    .title{
        display: flex;
        justify-content: space-between;
        p{
            color: rgba($secondary, 0.6);
        }
    }

    .location{
        font-weight: 700;
        span{
            font-weight: 400;
            color: rgba($secondary, 0.6);
        }
    }

    .description{
        grid-column: 1;
        grid-row: 3;
    }

    button{
        max-width: 35px;
        max-height: 35px;
        grid-column: 1;
        grid-row: 3;
        position: absolute;
        bottom: 0;
        right: 0;
    }

}

.featuredCompanies{
    @include spacing();

    /* Portfolio Slider */

    :root {
        --gutter: 20px;
    }
    
    .scroller {
        height: 40vh;
        padding: var(--gutter) 0;
        display: grid;
        grid-gap: var(--gutter) 0;
        grid-template-columns: var(--gutter) 1fr var(--gutter);
        align-content: start;
    }

    .scroller > * {
        grid-column: 2 / -2;
    }

    .scroller > .full {
        grid-column: 1 / -1;
    }

    .horizontalScrollList {
        display: grid;
        grid-gap: calc(var(--gutter) / 2);
        grid-template-columns: 10px;
        grid-auto-flow: column;
        grid-auto-columns: calc(50% - var(--gutter) * 2);
        grid-template-rows: minmax(150px, 1fr);

        overflow-x: scroll;
        scroll-snap-type: x proximity;
        overflow-y: hidden;
        padding-bottom: calc(.75 * var(--gutter));
        margin-bottom: calc(-.25 * var(--gutter));
        padding: 0 20px;


        li, .horizontalScrollItem {
            scroll-snap-align: center;
            padding: calc(var(--gutter) / 2 * 1.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        li{
            text-align: center;
            padding: 20px;
            img{
                display: flex;
                padding: 20px;
                border: 1px solid rgba($secondary, 0.6);
                border-radius: 50%;
            }
        }

        &::before,
        &::after {
            content: '';
            width: 10px;
        }
    }
}

.mailingList{
    @include spacing();
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3 1fr);
    background-color: rgba(20,20,20);
    color: white;

    .mailing-list-form{
        padding: 2rem;
        grid-column: 1;
        grid-row: 1;
        z-index: 2;
    }

    img{
        grid-column: 1/3;
        grid-row: 1/3;
        max-width: 100%;
        height: auto;
        z-index: 1;
    }
    input{
        padding: .75em 1em;
        border-radius: 5px;
    }
}

footer{
    display: table;
    margin: 0 auto;
    ul{
        li{
            list-style: none;
            display: inline;
            text-align: center;
            padding: 0 1.5rem;
            a{
                color: rgba($secondary, 0.6);
            }
        }
    }
}


